@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

div::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  background-color: rgb(44, 44, 44);
  border-radius: 20px;
}
